<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Night wanderer</title>
    <link rel="stylesheet" href="../css/mainCSS.css" type="text/css" />
    <script src="../scripts/glMatrix-0.9.5.min.js" type="text/javascript"></script>
    <script src="../scripts/Shaders.js" type="text/javascript"></script>
    <script src="../scripts/ColorConsts.js" type="text/javascript"></script>
    <script src="../scripts/Init.js" type="text/javascript"></script>


    <script id="shader-fs" type="x-shader/x-fragment">
        precision mediump float;
        varying lowp vec4 vColor;
        void main(void) { gl_FragColor = vColor; }
    </script>
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 aVertexPosition;
        attribute vec4 aVertexColor;
        uniform mat4 uMVMatrix;
        uniform mat4 uPMatrix;
        varying lowp vec4 vColor;

        void main(void) {
            gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
            vColor = aVertexColor;
        }
    </script>
</head>

<body onload="Init.start()">
    <div id="content">
        <h1 id="title">
            Night wanderer game
        </h1>
        <canvas id="glCanvas" width="1280" height="720">
        </canvas>
    </div>

</body>
</html>