<html>
    <head>
        <title>Night wanderer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="../css/mainCSS.css" type="text/css">
        <script type="text/javascript" src="../scripts/glMatrix-0.9.5.min.js"></script>
        <script src="../scripts/Tree.js" type="text/javascript"></script>
        <script src="../scripts/mainJS.js" type="text/javascript"></script>

        <!-- Fragment shader program -->
        <script id="shader-fs" type="x-shader/x-fragment">
            precision mediump float;
            // uniform attribute for setting texture coordinates
            varying highp vec2 vTextureCoord;
            // uniform attribute for setting 2D sampler
            uniform sampler2D uSampler;

            void main(void) {
                // sample the fragment color from texture
                gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
            }
        </script>


        <!-- Vertex shader program -->
        <script id="shader-vs" type="x-shader/x-vertex">
            // atributes for setting vertex position and texture coordinates
            attribute vec3 aVertexPosition;
            attribute vec2 aTextureCoord;
            uniform mat4 uMVMatrix;	// model-view matrix
            uniform mat4 uPMatrix;	// projection matrix
            // variable for passing texture coordinates
            // from vertex shader to fragment shader
            varying highp vec2 vTextureCoord;

            void main(void) {
                // calculate the vertex position
                gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
                vTextureCoord = aTextureCoord;
            }
        </script>
    </head>
<body>
    <h1 class="title">Night wanderer</h1>
    <div id="content">
        <div class="startScreen">
            <div class="lightBackground">
                <!--  background image effect -->
            </div>
            <div class="optionsContainer">
                <ul>
                    <li id="startTheGame" onclick="start()">
                        <span onmouseover="hoverSound()">Start the game</span>
                    </li>
                    <li id="instructions" onclick="showInstructions()">
                        <span onmouseover="hoverSound()">Instructions</span>
                    </li>
                    <li id="controls" onclick="showControls()">
                        <span onmouseover="hoverSound()">Controls</span>
                    </li>
                    <li id="credits" onclick="showCredits()">
                        <span onmouseover="hoverSound()">Credits</span>
                    </li>
                </ul>
            </div>
            <div class="optionsInstructions">
                <img id="backIcon" onclick="backToOptionsOne()" src="../assets/back_arrow.png" alt="back icon" />
                <p>
                    This is the field where the instructions are told ....
                    fdafasdfasdsdfadsfdfadsfssdf
                    adsfadsfadsfdsafa
                    dsfasdfdsfdsafasdfdsafadss
                    dfasdfadsfads
                    asdfadsfasd
                </p>
            </div>
            <div class="optionsControls">
                <img id="backIcon" onclick="backToOptionsFromControls()" src="../assets/back_arrow.png" alt="back icon" />
                <p>
                    This is the field where the controls are told ....
                    fdafasdfasdsdfadsfdfadsfssdf
                    adsfadsfadsfdsafa
                    dsfasdfdsfdsafasdfdsafadss
                    dfasdfadsfads
                    asdfadsfasd
                </p>
            </div>
            <div class="optionsCredits">
                <img id="backIcon" onclick="backToOptionsTwo()" src="../assets/back_arrow.png" alt="back icon" />
                <p>
                    Game authors: Urban Jagodic and Luc Kvar
                    <br />
                    Course: Computer Graphics
                    <br />
                    Year: 2018
                </p>
            </div>
        </div>

        <div class="playingTemplate">
            <div class="lives">
                <img id="life1" src="../assets/life_icon.png" alt="life"/>
                <img id="life2" src="../assets/life_icon.png" alt="life"/>
                <img id="life3" src="../assets/life_icon.png" alt="life"/>
                <img id="life4" src="../assets/life_icon.png" alt="life"/>
            </div>
            <div class="timeDiv">
                <span> Time left: </span> <span id="currentTime">90 </span>s
            </div>
            <div class="positionDiv">
                Position:
                X : <span id="xPosition"> 0.00 </span>
                | Y : <span id="yPosition"> 0.00</span>
                | Z : <span id="zPosition"> 0.00</span> 
            </div>
            <div class="soundDiv">
                <img id="soundButton" src="../assets/sound_on.png" alt="manage sound"/>
            </div>
            <img id="flashlightImage" src="../assets/hand.png" alt="flashlight_image" />
        </div>
        <div class="flashLightBox">
            <div class="box">
            </div>
        </div>
        <div class="endScreen">
            <p class="gameOverText">
                Game over
            </p>
            <p>
                You have failed miserably :(
            </p>
        </div>
        <canvas id="glcanvas" width="1200" height="600">
            No canvas suppport in your browser.
        </canvas>
        <br />
    </div>
</body>
</html>